:root {
  --grey: #35363a;
  --blueGreen: #315c5b;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 15px;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  margin: 0;
  background-color: var(--grey);
  font-family: Barlow, "Open Sans", sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Geneva', 'Verdana', sans-serif; */
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
}

.title {
  letter-spacing: 0.5rem;
}