:root {
  --grey: #35363a;
  --blueGreen: #315c5b;
}

body {
  margin: 0;
  background-color: var(--grey);
  font-family: 'Barlow', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
