#about-me {
    padding: 3rem;
    margin: 0 auto;
    max-width: 1200px;
}

.content {
    border: 2px solid white;
    padding: 2rem;
    box-shadow: inset;
    margin: 2rem;
}

.content h2 {
    text-align: center;
}

.content p {
    font-size: 1.2rem;
    margin: 4rem .5rem;
}

.flex {
    display: flex;
    width: 100%;
}

.words {
    margin: 1rem;
}

#me {
    width: 100%;
}