#about-me {
  padding: 8rem 3rem;
  margin: 0 auto;
}

.content {
  border: 2px solid white;
  padding: 2rem;
  color: white;
  box-shadow: 0 0 50px var(--blueGreen);
}

.content h2 {
  text-align: center;
}

.content p {
  font-size: 1.2rem;
}

#me {
  width: 100%;
}

@media screen and (max-width: 576px) {
  #me {
    margin-bottom: 1rem;
  }
}
