.info {
  width: fit-content;
  margin: 0 auto;
}
.box2 a {
  margin: 0 1.5rem;
}

@media screen and (max-width: 612px) {
  /* #footer {
    font-size: 0.8rem;
  } */

  .box1,
  .box2 {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  /* #footer {
    font-size: 0.8rem;
  } */

  .box1,
  .box2 {
    padding: 0 0.5rem;
  }

  /* .box2 a {
    margin: 0 0.5rem;
  } */
}
