#about-me {
  padding: 8rem 1rem;
  margin: 0 auto;
  background: radial-gradient(
    circle,
    rgba(53, 54, 58, 1) 0%,
    rgba(49, 92, 91, 0.3) 100%
  );
}

.content {
  padding: 2rem;
  color: white;
}

.content p {
  font-size: 1.2rem;
  text-wrap: pretty;
  margin: 0 3rem;
}

#me {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #me {
    margin-bottom: 1rem;
  }

  .content p {
    margin: 0 1rem;
  }
}
